[Unit]
Description=Mumble Server
Requires=network-online.target
After=network-online.target mariadb.service time-sync.target

[Service]
User=mumble
Type=forking
ExecStart=/opt/mumble/murmur-static_x86-1.2.17/murmur.x86 -ini /opt/mumble/murmur-static_x86-1.2.17/murmur.ini

[Install]
WantedBy=multi-user.target
