[defaults]
vault_password_file = ~/.vault_password_file

[privilege_escalation]
become=True
become_method=sudo

[paramiko_connection]

[ssh_connection]
control_path = %(directory)s/ansible-ssh-%%C
pipelining=True

[accelerate]

[selinux]

[colors]
