[Unit]
Description=Starbound dedicated server
Wants=network.target
After=network.target

[Service]
ExecStart=/opt/starbound/linux/starbound_server
WorkingDirectory=/opt/starbound/linux/

[Install]
WantedBy=multi-user.target
