[Unit]
Description=Starbound dedicated server
After=network.target

[Service]
ExecStart=/opt/starbound/linux/starbound_server
WorkingDirectory=/opt/starbound/linux/
PIDFile=/var/run/starbound.pid
